			html, body {
				margin: 0;
				padding: 0;
				}
				
				body {
				font-family: 'Roboto', sans-serif;
				fontweight: 20;
				}
				
				.btn {
					color: #fff;
					background: #000;
					padding: 10px 40px;
					text-decoration: none;
					transition: background .2s;
				}
				
				.container {
				margin: 0 auto; 
				max-width: 800px;
				padding: 0 10px;
				}

				.navbar {
					overflow: hidden;
					background-color: #000;
					position: fixed;
					top: 0;
					width: 100%;
				}
				
				.navbar a {
					float: left;
					display: block;
					font-family: "Arial Black", Gadget, sans-serif;
					color: #ffffff
					text-align: center;
					padding: 14px 19px;
					text-decoration: none;
					font-size: 17px;
				}
				
				.navbar a:hover {
					background: #fff;
					color: black;
				}
				
				.header .container {
					position: relative;
					top: 25%;
				}
				
				.main {
					padding: 25%;
					margin-top: 25%;
				}
				
				.footer { 
					position: fixed;
					background: #000;
					height: 20%; 
					padding-bottom: 30%;
				}

				.footer p { 
					color: #fff;
					font-size: 14px;  
					height: 80px; 
					line-height: 80px;
					margin: 0;  
				}
