<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
  
	<body>
	
		<div class="navbar">
			<div class="container">
				<a href="home">Mona Schappert</a>
				<a href="cv">CV</a>
				<a href="showcase-art">Art Portfolio</a>
				<a href="showcase-webdesign">Webdesign Showcase</a>
				<a href="contact">Contact</a>
			</div>
		</div>
		
		<div class="header">
			<div class="container">
			</div>
		</div>
		
		
    		<div class="main">
      			<div class="container">
          			{{ content }}
      			</div>
     		</div>
		<footer>
      			<div class="container">
    	  			<ul>
        				<li><a href="mailto:nooomoonmoon@gmail.com">email</a></li>
        				<li><a href="https://github.com/nooomoonmoon">github.com/nooomoonmoon</a></li>
			  	</ul>
      			</div>
		</footer>
	</body>
</html>
